---
layout: page
title: Contact
permalink: /contact/
---
<div class="page-header">
  <div class="container">
    	<!-- Here we will put the content area of a tabbed section-->

    <div id="contact-details" class="col-md-6 col-md-offset-3">
      <div class="row">
        <ul id="contact-options" class="nav nav-pills nav-justified">
          <li role="presentation" class="active"><a href="#tab_client" data-toggle="pill">Client</a></li>
          <li role="presentation"><a href="#tab_partner" data-toggle="pill">Partner</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab_client">
            {% include client-details.html %}
        </div>
        <div class="tab-pane" id="tab_partner">
            {% include partner-details.html %}
        </div>
      </div><!-- tab content -->
    </div>


      <section>
        <div class="col-md-12 text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x fa-color"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <p class="text-muted"><a href="mailto:hello@thedreamcanvas.co" target="_top">hello@thedreamcanvas.co</a></p>

            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x fa-color"></i>
                    <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                </span>
                <p class="text-muted">650 Ganyard Farm Way Unit 27</br> Durham, NC 27703 United States</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x fa-color"></i>
                    <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                </span>
                <p class="text-muted">919-378-1413</p>
            </div>
        </div>
      </section>
    </div>
</div>

<div id="modal-success" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="CLOSE"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> </h4>
        <img src="{{ site.baseurl }}/assets/thankyou-modal.svg" id="thankyou-modal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
