<!-- Services Section -->
    <section id="audience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Clients</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Entreprenuers</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Businesses</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="icon-size gov-icon"></i>
                    </span>
                    <h4 class="service-heading">Government Agencies</h4>
                    <p class="text-muted">NAICS code 541511</p>

                </div>
            </div>
            <div class="row text-center">
              <p class="text-muted">Contact us about your software product or service needs.</p>
            </div>
        </div>
    </section>
