<!-- Contact Form -->

	<div class="form-group">
		<input name="first_name" type="text" class="form-control" placeholder="First Name" id="fname">
	</div>
	<div class="form-group">
		<input name="last_name" type="text" class="form-control" placeholder="Last Name" id="lname">
	</div>
	<div class="form-group">
		<input name="company" type="text" class="form-control" placeholder="Company" id="company">
	</div>
	<div class="form-group">
		<input name="email" type="text" class="form-control" placeholder="Email" id="email">
	</div>
	<div class="form-group">
		<textarea name="message" class="form-control" rows="8" placeholder="Message" id="message"></textarea>
	</div>

