<!-- Contact Form -->

	<div class="form-group">
		<input name="first-name" type="text" class="form-control" placeholder="First Name">
	</div>
	<div class="form-group">
		<input name="last-name" type="text" class="form-control" placeholder="Last Name">
	</div>
	<div class="form-group">
		<input name="company" type="text" class="form-control" placeholder="Company">
	</div>
	<div class="form-group">
		<input name="email" type="text" class="form-control" placeholder="Email">
	</div>
	<div class="form-group">
		<textarea name="text" class="form-control" rows="8" placeholder="Message"></textarea>
	</div>

