<!-- Header -->
<div id="background-image">
    <header id="linear-background">
        <div class="container">
            <div class="row page-header">
              <div class= "col-lg-12 text-center">
                <img src="{{ site.baseurl }}/assets/header-words.svg" id="header-words">
            	<!-- <div class="intro-heading">DreamCanvas Solutions</div>
                <div class="intro-lead-in">Make the dream tangible...</div> -->
               </div>
            </div>
            <div class="row">
                <a href="#mission" class="page-scroll btn btn-circle" role="button">
                <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </header>
</div>
