<!-- Header -->
<div id="background-image">
    <header id="linear-background">
        <div class="container">
            <div class="intro-text">
            	<div class="intro-heading">DreamCanvas Solutions</div>
                <div class="intro-lead-in">Make the dream tangible...</div>
                <a href="#mission" class="page-scroll btn btn-circle" role="button">
                <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
            
        </div>
    </header>
</div>
