
<div class="text-center">
  <p class='editorial'>
     Partner with us to help create software products and provide IT services for others.
  </p>
</div>
<div>
	<div class="col-md-12">
		<div class="editorial-note content-highlight">
	 	Partner if you...
     <ul>
     	<li>have IT skills and want to partner with others to gain larger contracts.</li>
     	<li>want to connect with a collaborative IT network.</li>
     	<li>have trouble communicating with clients about their business objectives or technology specifications.</li>
     </ul>
 	</div>
  	 <div class="editorial-note content-highlight">
  	   Benefit from...
  	   <ul>
  	   	<li>Improved Work Efficiency</li>
  	   	<li>Increased Profit Margins</li>
  	   	<li>Exposure to New Industries and Technologies</li>
        <li>A Growing Technology Network</li>
        <li>Equity Stake in Proprietary Tech You Help Create</li>
  	   </ul>
  	 </div>
  </div>
</div>
