<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">What we do...</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Development</h4>
                    <p class="text-muted">After the vision is documented, let us help place the right team of people on the job to create or refine the product.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Strategy Consulting</h4>
                    <p class="text-muted">Get the benefit of a complete product strategy that will satisfy users and meet business or personal objectives.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-tachometer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Management</h4>
                    <p class="text-muted">Every product needs someone to ensure changes are monitored, production and marketing are executed effectively, and that the end vision is realized.</p>
                </div>
            </div>
            
        </div>
    </section>