<!-- Services Section -->
    <section id="services-new">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="editorial-quote-lg">Services</h3>
                </div>
            </div>
            <div class="row text-center hideme">
              <div class="col-md-4 ">
                <div class="paper-card">
                  <h4 class="editorial-quote-md">Development</h4>
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x fa-color"></i>
                      <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                  </span>
                  <div class="editorial-quote-md">After we collectively define the problem, let us build the software solution.
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="paper-card">
                  <h4 class="editorial-quote-md">UI/UX Design</h4>
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x fa-color"></i>
                      <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                  </span>
                  <div class="editorial-quote-md">The functionality of a great product is only as good as the interface it's users interact with. Let us handle the design process.
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="paper-card">
                  <h4 class="editorial-quote-md">Testing</h4>
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x fa-color"></i>
                      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                  <div class="editorial-quote-md">Every product should be tested for quality before and after users interact with it. We can get the job done.
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center hideme">
              <div class="col-md-4 ">
                <div class="paper-card">
                  <h4 class="editorial-quote-md">Product Strategy</h4>
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x fa-color"></i>
                      <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                  </span>
                  <div class="editorial-quote-md">Get the benefit of a complete product strategy that will satisfy users and meet business or personal objectives.
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="paper-card">
                  <h4 class="editorial-quote-md">Documentation</h4>
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x fa-color"></i>
                      <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                  </span>
                  <div class="editorial-quote-md">Let us handle the process of documenting the product vision and communicating technical details to a software development team.
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="paper-card">
                  <h4 class="editorial-quote-md">Project Management</h4>
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x fa-color"></i>
                      <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                  </span>
                  <div class="editorial-quote-md">We can help place the right team of people on the job to create or refine your software product and drive efforts towards product delivery.
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
