<!-- Services Section -->
    <section id="services">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Services</h3>
                </div>
            </div>
            <div class="row text-center hideme">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Development</h4>
                    <p class="text-muted">After we collectively define the problem, let us build the software solution. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">User Interface Design</h4>
                    <p class="text-muted">The functionality of a great product is only as good as the interface it's users interact with. Let us handle the design process.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Testing</h4>
                    <p class="text-muted">Every product should be tested for quality before and after users interact with it. We can get the job done. </p>
                </div>
              </div>
              <div class="row text-center hideme">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Strategy</h4>
                    <p class="text-muted">Get the benefit of a complete product strategy that will satisfy users and meet business or personal objectives.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Documentation</h4>
                    <p class="text-muted">Let us handle the process of documenting the product vision and communicating technical details to a software development team.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Project Management</h4>
                    <p class="text-muted">We can help place the right team of people on the job to create or refine your software product and drive efforts towards product delivery.</p>
                </div>
                <!--
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-color"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Management</h4>
                    <p class="text-muted">Every product needs someone to ensure changes are monitored, production and marketing are executed effectively, and that the end vision is realized.</p>
                </div>
              -->
            </div>

        </div>
    </section>
