


#background-image{
    background-image: url('../assets/header-image.JPG');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#linear-background {
  /* fallback */
  opacity: .8;
  background-color: #5CC1AF;
  background-image: url(images/linear_bg.png);
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#5CC1AF), to(#202089));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(top, #202089, #5CC1AF);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #5CC1AF, #202089);

  /* IE 10 */
  background: -ms-linear-gradient(top, #5CC1AF, #202089);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #5CC1AF, #202089);
}

.fa-color{
    color: #5CC1AF;
}


.icon-size {
  width: 128px;
  height: 128px;
}

.gov-icon{
 background-image: url('../assets/gov-icon.svg');
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}



.banner-title {
	font-size: 76px;
    line-height: 56px;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  background-color: #fff;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-custom {
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff !important;
    border: none !important;
    background-color: #FF6050;
}


.btn-xl {
    margin: 10px 0px;
    padding: 20px 40px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;

}
.content-highlight{
    background-color: #F3F3F3;
    border-radius: 20px;
    padding: 10px;
}
.editorial{
    margin: 0 auto 2em;
    max-width: 32em;
    font-size: 1.25em;
    opacity: .8;
}

.editorial-note{
    margin: 0 auto 2em;
    max-width: 34em;
    font-size: 1.0em;
    opacity: .8;
}

.editorial-quote{
    margin: 0 auto 2em;
    max-width: 34em;
    font-size: 1.45em;
    opacity: .8;
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    max-width: 600px;
    margin: auto;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

.important{
  color: red;
  max-width: 40em !important;
}
#leadership{
    max-height: 400px;
}
.navbar{
    padding: 10px 0px;
}

.navbar-brand{
    float: left;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 62px;
}

#navbar-logo{
    $width: 300px;
    width: $width;
    @media (min-width: 320px){
     width: $width * .75;
    }
    @media (min-width: 1024px){
     width: $width * 1;
    }
}


.nav-stacked > li > a {
  border-radius: $nav-pills-border-radius;
}

.navbar-toggle {
background-color: #fff;
}

#header-words{
  $height: 150px;
  height: $height;

  @media (min-width: 320px){
    height: $height * .9;
  }
  @media (min-width: 768px){
    height: $height * 1.1;
  }
  @media (min-width: 1024px){
    height: $height * 1.5;
  }
  @media (min-width: 1600px){
    height: $height * 2;
  }
}

.page-header{
    padding-top: 100px;
    border: none;
}


// Pills
// -------------------------
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: $nav-pills-border-radius;
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
  }
}
.section-divide{
    border-bottom: solid 1px #eeeeee;
    padding: 10px;
}

section {
    padding: 100px 0;
}


section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    opacity: .8;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 100px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#TripleConstraintModel{
  width: 450px;
  margin: 20px 0px;
}




// Modal Styles
.close{
  color: #fff;
  opacity: inherit;
}
.modal-header{
  background-color: #110C0C;
  border: none;
}
.modal-footer{
  background-color: #110C0C;
  border: none;
  text-align: center;
}
#thankyou-modal{
  width: 450px;
}
.hideme
{
    opacity:0;
}
